$color-forest-green:    #2C821F;
$color-apple:           #43AF3D;
$color-kelp:            #37392E;
$color-tuatara:         #252422;
$color-white-rock:      #EDE4D7; 
$color-shadow:          rgba(0, 0, 0, 0.5)     
